<h1>Welcome to the Iron Slag</h1>

<h2>The Iron Yard's own Glossary of Front and Back End Engineering terms</h2>

<div class="last_5">
  <p>
  <h3>The most recent 5 terms added are:</h3>
  <% @terms.each do |term| %>
    <%= link_to term.name, term_path(term) %></a>
    <br>
  <% end %>
  </p>
</div>

<br>

<% link_to 'New Term', new_term_path %>
<%= link_to 'Home', root_path %>

<br>

<div class="categories_table">
  <p>
  <h3>The current categories are:</h3>
  <% @categories.each do |category| %>
    <%= link_to category.name, category_path(category) %></a>
    <br>
  <% end %>
  </p>
</div>
