<h1>Welcome to the Iron Slag</h1>

<h2>The Iron Yard's own Glossary of Front end
  <br>
  <br>
  and Back end Engineering terms</h2>

<% if logged_in? %>
  <div class="last_5">
    <p>
    <h3>The most recent 5 terms added are:</h3>
    <% @terms.each do |term| %>
      <%= link_to term.name, term_path(term) %></a>
      <br>
    <% end %>
    </p>
  <br>
  <% link_to 'Add a new term', new_term_path %>
  <% link_to 'See all existing terms', terms_path %>
  <br>
  </div>
  <div class="categories_table">
    <p>
    <h3>The current categories are:</h3>
    <% @categories.each do |category| %>
      <%= link_to category.name, category_path(category) %></a>
      <br>
    <% end %>
    </p>
  </div>
<% end %>
