<h1>Welcome to the Iron Slag</h1>

<h2>The Iron Yard's own Glossary of Front and Back End Engineering terms</h2>

<h2>The most recent 5 terms added are:</h2>
<% @terms.each do |term| %>
  <a href="/terms/<%= term.id %>"><%= term.name %></a>
  <br>
<% end %>
